!!!5
html
  head
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/app.css")
  body
    .container
      h1 Hello world!

    script(src="/js/app.js")